spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

telegram:
  bot:
    name: ${TELEGRAM_BOT_USERNAME}
    token: ${TELEGRAM_BOT_TOKEN}
    webhook-path: ${TELEGRAM_BOT_WEBHOOK_PATH}
    webhook-base-url: ${TELEGRAM_BOT_WEBHOOK_BASE_URL}


kieai:
  api-key: ${KIEAI_API_KEY}

logging:
  level:
    com.example.tgbot: ${APPLICATION_LOGGING_LEVEL}

server:
  port: ${APPLICATION_PORT}